:root {
  background-color: #6C8793;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* white: #FFFFFF
grey: #EEEDEB
peach: #E1CCBE
blue: #6C8793
black: #000000 

FONT:
Heading: Adobe Caslon Pro
Paragraph: Minion Pro*/
