:root {
  background-color: #6C8793;
}


.nav-wrapper{
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#footer {
  background-color: #6C8793;
}

#logo {
  width: auto;
  max-width: 100%;
  max-height: 50px; 
}

#link {
  color:#E1CCBE;
}

/*LANDING PAGE */

#landing-container {
  border: 2px solid red;
  width: 80%;
  height: fit-content;
  background-color: #6C8793;
}

#landing-info {
  
}

#landing-image {
  width: 100%;
  height: auto;
  padding: 1rem;
}

#landing-quote-container{
  border: 2px solid yellow;
  background-color: #E1CCBE;
  padding: 8%;
  text-align: center;
}

#portfolio-carousel {
  border: 2px solid green;
  background-color: #EEEDEB;
  justify-content: space-around;
}

#carousel-item {
  height: 40rem;
  width: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* white: #FFFFFF
grey: #EEEDEB
peach: #E1CCBE
blue: #6C8793
dark blue: #415660
black: #000000 

FONT:
Heading: Adobe Caslon Pro
Paragraph: Minion Pro*/
