:root {
  background-color: #6C8793;
}

body {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}


h1, h2, h3{
  color: #E1CCBE;
  margin:0rem;
  padding-left: 0.5rem;
  
}

h4{
  color: #213547;
  margin:1rem;
  padding-left: 0.5rem;
}

h5, h6 {
  color: #EEEDEB;
  padding: 0.5rem;
}



.nav-wrapper{
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#footer {
  background-color: #6C8793;
}

#logo {
  width: auto;
  max-width: 100%;
  max-height: 50px; 
}

#link {
  color:#E1CCBE;
}

#primary-button {
  background-color: #6C8793;
  border: 2px solid #E1CCBE;
  color: #E1CCBE;
  font-size: larger;
  font-family: "Libre Caslon Text", serif;
  padding: 1rem 2.5rem 1rem 2.5rem;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2rem;
}

#primary-button:hover{
background-color: #E1CCBE;
color: black;
border: 2px solid #E1CCBE;
}

#secondary-button {
    background-color: black;
    border: 2px solid black;
    color: #EEEDEB;
    font-size: larger;
    font-family: "Libre Caslon Text", serif;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3rem;
}

#secondary-button:hover{
  background-color: #EEEDEB;
  color: black;
  border: 2px solid black;
}

#tertiary-button {
  background-color: black;
  border: 2px solid black;
  color: #EEEDEB;
  font-size: larger;
  font-family: "Libre Caslon Text", serif;
  padding: 2rem 2.5rem 2rem 2.5rem;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3rem;
}

#tertiary-button:hover{
background-color: #EEEDEB;
color: black;
border: 2px solid black;
}

.container {
  width: 100%;
  max-width: 2000px;
  margin: 0;
  padding: 0;
}

#highlight {
  color:#e1c7b6;
  font-weight: 700;
}

/*LANDING PAGE */


#landing{
  border: 2px solid red;
  background-color: #6C8793;
}

#landing-quote{
  border: 2px solid yellow;
  background-color: #E1CCBE;
  padding: 8%;
  text-align: center;
}

#landing-portfolio {
  border: 2px solid green;
  background-color: #EEEDEB;
  justify-content: space-around;
  padding: 1rem;
  padding-top: 8rem;
}

#landing-info {
  padding: 16rem 8rem 16rem 16rem;
}

#landing-image {
  width: 50vw;
  height: auto;
  padding: 8rem 8rem 8rem 2rem;
}


#landing-portfolio-item {
  height: 40rem;
  width: auto;
}

#landing-portfolio-button {
  padding: 6rem;
}

/* ABOUT PAGE */

#about-info {
  padding: 0rem 4rem 4rem 10rem;
}

#about {
  padding: 4rem;
  margin-top: 6rem;
}

#about-image {
  width: 40vw;
  height: auto;
  padding: 0rem 8rem 8rem 2rem;
}

/* PROJECTS */

#projects-header {
  text-align: center;
  padding: 6rem;
}

.project-info {
  text-align: center;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #6C8793;
  }
  a:hover {
    color: #E1CCBE;
  }
  button {
    background-color: #f9f9f9;
  }
  #landing-container {
    width:90%;
    margin: 0 auto;
  }
}

/* xs */
@media (max-width: 475px) {
 .container {
  max-width: 475px;
 }
}
/* sm  */
@media (max-width: 640px) {
  .container {
    max-width: 640px;
   }
}
/* md  */
@media (max-width: 768px) {
  .container {
    max-width: 768px;
   }
}
/* lg  */
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
   }
}
/* xl  */
@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
   }
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}
/* 2xl  */
@media (max-width: 1600px) {
  .container {
    max-width: 1600px;
   }
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5;
  }
}







/* white: #FFFFFF
grey: #EEEDEB
peach: #E1CCBE
blue: #6C8793
dark blue: #415660
black: #000000 

FONT:
Heading: Adobe Caslon Pro
Paragraph: Minion Pro*/
